<h2>Log out</h2>
<p>This page cant be accessed without signing in<p>
<%= @user.email + ' '+ @user.password %>
<form accept-charset="UTF-8" action="/home/logout" method="post" class = "login" >
<input class = "button" name="submit" type="submit" value="Log Out"/>
</form>