<!DOCTYPE html>
<html>
<head>
  <title>Dweeb</title>
   <%= stylesheet_link_tag    "users" %>
  <%= javascript_include_tag "users" %>
</head>
<body>

<h1>This is home page</h1>
<%= yield %>

</body>
</html>